<h2>Role</h2>
<!-- <span #tref>View child example</span> -->
<button (click)="openModal()">Create New Role</button>&nbsp;
<button type="button" (click)="rerender()">
  Rerender
</button>


<hr>
<table id="tblRole" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
</table>
<modal #myModal>
    <modal-header>
    Manage Role.
    </modal-header>
    <modal-content>
      <form [formGroup]="roleForm" novalidate (submit)="onSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label>Role&nbsp;<span class="text-danger">*</span>:</label>&nbsp;
                <input type="hidden" formControlName="RoleId"/>
                <input type="text" formControlName="Role"/>
                <span class="text-danger" asp-validation-for="Role"></span>
            </div>
            <div *ngIf="roleForm.controls['Role'].invalid && (roleForm.controls['Role'].dirty || roleForm.controls['Role'].touched)" class="alert alert-danger">
                <div *ngIf="roleForm.controls['Role'].errors.required">
                  Role is required.
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [disabled]="roleForm.invalid" >Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </form>
    </modal-content>
</modal>